<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Video Library</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Thêm dòng này -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <%- body %>
    </div>

    <!-- popup -->
    <script type='text/javascript'
        src='//pl26299660.effectiveratecpm.com/9d/5f/01/9d5f0133cf8f824544c14748fda19888.js'></script>
</body>

</html>